.modal_img img {
  margin: auto;
  width: 80px;
}


  .container_table {
    width: 100%;

  }

  .ul_modal{
    text-align: center;
  }

  .table {
    max-height: 400px;
    overflow-y:  scroll;

  }
 .laptop_trading{
  display: none;
 }

  @media (max-width: 768px) {
    .table {
      max-height: 400px;
      max-width: 300px;

    } 
  }